@model CarService.Common.ModelDto.CarDto

<section>
    <div class="main">
        <div class="main__image">
            <img class="main__img" src="~/img/cars/@Model.Img.Split(' ')[0]" alt="img" />
            <img class="main__img" src="~/img/cars/@Model.Img.Split(' ')[1]" alt="img" />
            <img class="main__img" src="~/img/cars/@Model.Img.Split(' ')[2]" alt="img" />
        </div>
        <div class="main__text">
            <div>

            </div>
            <h1 class="main__title">@Model.Brand @Model.Model</h1>
            <p class="main__decs"><span class="book__characteristics">Цена:</span>  @Model.Cost</p>
            <p class="main__decs"><span class="book__characteristics">Пробег:</span>  @Model.Characteristics.Mileage</p>
            <p class="main__decs"><span class="book__characteristics">Год выпуска:</span>  @Model.Characteristics.Year</p>
            <p class="main__decs"><span class="book__characteristics">Каробка передач:</span>  @Model.Characteristics.Transmission</p>
            <p class="main__decs"><span class="book__characteristics">Кузов:</span>@Model.Characteristics.Carcase </p>
            <p class="main__decs"><span class="book__characteristics">Тип двигателя:</span>  @Model.Characteristics.EngineType</p>
            <p class="main__decs"><span class="book__characteristics">Привод:</span>  @Model.Characteristics.DriveUnit</p>
            <p class="main__decs"><span class="book__characteristics">Система безопасности:</span>  @Model.AdditionalCharacteristic.SystemSecurity</p>
            <p class="main__decs"><span class="book__characteristics">Подушки:</span>  @Model.AdditionalCharacteristic.Pillow</p>
            <p class="main__decs"><span class="book__characteristics">Система помощи:</span>  @Model.AdditionalCharacteristic.SystemAssist</p>
            <p class="main__decs"><span class="book__characteristics">Комфорт:</span>  @Model.AdditionalCharacteristic.Comfort</p>
            <p class="main__decs"><span class="book__characteristics">Обогрев:</span>  @Model.AdditionalCharacteristic.Heating</p>
            <p class="main__decs"><span class="book__characteristics">Климат:</span>  @Model.AdditionalCharacteristic.Climate</p>
            <p class="main__decs"><span class="book__characteristics">Мультимедиа:</span>  @Model.AdditionalCharacteristic.Multimedia</p>
            <p class="main__decs"><span class="book__characteristics">Фары:</span>  @Model.AdditionalCharacteristic.Lights</p>
            <p class="main__decs"><span class="book__characteristics">Описание:</span>  @Model.Characteristics.Description</p>
            <div class="main__buttoms">
                <form asp-route-id="@Model.Id" method="post" asp-action="BuyCar" asp-controller="Home">
                    <input class="card__link button-len" type="submit" value="Купить" />
                </form>
            </div>
        </div>

    </div>
</section>

